<div class="panel panel-default">
	<div class="panel-heading">
		<h1>Listing Workloads</h1>
	</div>
	<!-- http://edgeguides.rubyonrails.org/layouts_and_rendering.html
	 -->
	<table class="table">
	  <tr>
	    <th>Date</th>
	    <th>Checkpoint</th>
	    <th>PM</th>
	    <th></th>
	    <th></th>
	  </tr>

	<% @workloads.each do |load| %>
	  <tr>
	    <td><%= load.date %></td>
	    <td><%= load.checkpoint %></td>
	    <td><%= load.user.full_name %></td>
	    <td><%= link_to "Show", workload_path(load), class: "btn btn-default btn-xs" %></td>
	    <td><%= link_to "Edit", edit_workload_path(load), class: "btn btn-default btn-xs" %></td>
	    <td><%= link_to "Remove", load, method: :delete, data: { confirm: "Are you sure?" },
																					class: "btn btn-danger btn-xs" %></td>
	  </tr>
	<% end %>
	</table>
</div>


<br>

<%= link_to "New worklad", new_workload_path %>


<div>
	<h1>Today's Workload</h1>
	<div>
		Dzisiejsze obciążenie: <%= @daily_workload %>
	</div>
</div>

<div>
	<h2>Today's Availability</h2>
	<div>
		Dzisiejsza dostępność zespołu Dejana to: <%= @daily_availability %>
	</div>
</div>

<div>
	<h2>Today's Score</h2>
	<div>
		Dzisiejsza suma ocen: <%= @daily_score %>
	</div>
</div>

<h3>Today's score report</h3>

<% @workload_today.each do |load| %>
	<div class="well well-lg">
		<div>
			Name: <%= load.user.name %>
		</div>
		<div>
			Score: <%= load.score %>
		</div>
	</div>
<% end %>

<div>
	<% if user_signed_in? %>
		<%= link_to "New Load", new_workload_path, class: "btn btn-default btn-lg"%>
	<% end %>
	<% if @workloads.empty? %>
		<h1>No Workloads Created</h1>
	<% else %>
		<% @workloads_per_day.each do |load| %>
			<div class="well well-lg">
				<div class="article-title">
					Score: <%= load.score %>
				</div>
				<div class="article-body">
					Date: <%= load.date %><br>
					Checkpoint: <%= load.checkpoint %>
				</div>

				<div class="author">
					<small>Created by: <%= "#{load.user.full_name}" %></small>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
